.title{
    text-align: center;
    font-size: 100px;
}

.subtitle{
    text-align: center;
}

.center {
    position:relative;
    /* transform: translateY(300%); /*get rid of this once list is added, should auto drop to bottom*/
    margin: auto;
    clear:both;
    width: 40%;
    border:3px;
    padding-top: 10px;
    
}

#about{
    display:block;
    text-align: center;
}