.title{
    text-align: center;
    font-size: 100px;
}

.space{
    padding-bottom: 20px;   
}

.subtitle{
    text-align: center;
    font-size: 70px;
}

.center {
    position:relative;
    /* transform: translateY(300%); /*get rid of this once list is added, should auto drop to bottom*/
    margin: auto;
    clear:both;
    width: 40%;
    border:3px;
    padding-top: 10px;
}

.center_description{
    position:relative;
    margin: auto;
    clear:both;
    width: 60%;
    border:3px;
    padding-top: 5px;
    padding-bottom: 20px;
}

#about{
    display:block;
    text-align: center;
}

.egg{
    color:azure;
    text-align: center;
    font-size: 100px;
}

.egglets{
    color:azure;
    text-align: center;
}

.delay{
    -webkit-animation-delay: 1.5s;
    animation-delay: 1.5s;
}
.longdelay{
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
}
.longerdelay{
    -webkit-animation-delay: 4s;
    animation-delay: 4s;
}

.generated_pun{
    height:120px;
    font-size:40px;
}

#easter{
    color:#C7C7C7;   
}